<div class="rounded-lg p-6 mb-8 text-white mt-6"
     style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px);">
    <h2 class="text-xl font-bold mb-4">欢迎来到wu138di的小站！</h2>
    <div class="space-y-3">
        <div>
            <p class="text-lg opacity-80" style="color: pink;">你可以在这里找到你想要的一切！宇宙之间皆你我！</p>
            <p class="text-lg opacity-80" style="color: pink;">----------------------------------------</p>
            <p class="text-lg opacity-80" style="color: pink;">              update 2.1</p>
             <p class="text-lg opacity-80" style="color: pink;">---------------------------------------</p>
             <p class="text-lg opacity-80" style="color: pink;">1：优化跳转逻辑</p>

             <p class="text-lg opacity-80" style="color: pink;">2：修复已知bug</p>
             
             <p class="text-lg opacity-80" style="color: pink;">3：增加了新的网页：课表查询（试运营）</p>
             <p class="text-lg opacity-80" style="color: pink;">---------------------------------------</p>

        </div>
    </div>
</div>
