{{/* layouts/partials/spotify-playlist.html */}}
{{ with .Params.spotifyPlaylist.iframe }}
<div class="spotify-widget pulsating-box border-trace h-auto rounded-lg p-6 mb-8 border text-white mt-6"
     style="background: rgba(255, 255, 255, 0.1); backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.1);">
  <div class="flex items-center mb-4">
      <i class="fab fa-spotify text-2xl mr-3 mb-1"></i>
      <h3 class="text-xl font-bold">My Spotify Playlist</h3>
    </div>
    {{ . | safeHTML }}
  </div>
{{ end }}