<!DOCTYPE html>
<html lang="en">
<link rel="icon" href="/images/kinisaki.ico" type="image/x-icon">
{{ partial "head.html" . }}
<body>
  <div id="bg-layer-a" class="bg-layer"></div>
  <div id="bg-layer-b" class="bg-layer"></div>
  <div class="bg-animation" id="bgAnimation"></div>

    <div class="container mx-auto px-4 py-12 max-w-md">
    {{ partial "profile.html" . }}

    {{ partial "link-card.html" . }}

    {{ partial "instructions.html" . }}

    <footer class="text-center mt-8">
      <a
        href="https://icp.gov.moe/?keyword=20250326"
        target="_blank"
        style="font-size:19px;color:#f4b1cf;font-weight:bold;"
      >
        @wu138di 萌ICP备20250326号
      </a>
    </footer>
  </div>

  <script src="js/script.js"></script>
</body>
</html>